<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting
            name="defaultScriptingLanguage"
            value="com.gudderi.api.component.mybatis.ExtendLanguageDriver"
        />
    </settings>

    <typeHandlers>
        <typeHandler handler="com.gudderi.api.component.mybatis.InformationTypeTypeHandler"/>
    </typeHandlers>
</configuration>